* root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
       font: 14px/18px Arial, Helvetica, sans-serif
}
.myNav{
   background: url(../Images/menu_bg.png);
}
.collapse ul li a{
    margin-left: 30px;
}
#header{
    height: 500px;
    width: 100%;
    background-image: url(../Images/70Z_2108.w023.n001.831B.p1.831.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
.content{
    height: 200px;
    width: 40%;
    margin: auto;
    padding-top: 230px;
}
.background{
    height: 1200px;
    width: 100%;
    background-image: url(../Images/photo-1526664781949-af414dc24053.jpg);
    background-attachment: fixed;
}
.card{
    box-shadow: 5px 5px 5px black;
}
.footer{
    color: grey;
}
.footer-btn{
    background-color: greenyellow;
    color: white;
    border: groove greenyellow;
    border-width: 5px;
}
/* Conatact Page Start */
.contact-header{
    height: 500px;
    width: 100%;
    background-image: url(../Images/contact-banner.jpg);
}
input{
    padding: 10px;
}
#btn{
    background-color: black;
    border: none;
    color: white;
}
#btn:hover{
    background-color: greenyellow;
    color: black;
}
/* Contact Page End */
/* Our Sevices Page Start */
.services-h{
    width: 100%;
    height: 500px;
    background-image: url(../Images/agriculture-trendy-banner-vector.jpg);
    background-position: center;
}
.Services-content{
    padding-top: 150px;
    margin-left: 200px;
}
#myBtn{
    border:none;
    background-color: red;
}
#myBtn:hover{
    background-color: rgb(40, 228, 40);
}

/* Our Services Page End */
/*About Us Page Start */
.about-h{
    width: 100%;
    height: 500px;
    background-image: url(../Images/about.jpg);
    background-position: center;
}